<header>
  <h1>
    TinyApp
  </h1>
</header>
<% if(!user) { %>
  <a href="http://localhost:8080/login">Login</a>|<a href="http://localhost:8080/register">Register</a>
<% } else { %>
  <a href="http://localhost:8080/urls/new">Create New TinyURL</a>
  Logged in as: <%= user["email"] %>
  <form method="POST" action="/logout">
    <button type="submit">Logout</button>
  </form>
<% } %>
